
# Sales Dashboard EDA

This notebook contains SQL queries converted from the provided `.sql` file for performing exploratory data analysis (EDA) on the sales dashboard dataset. 
Each query is executed using the `ipython-sql` extension.

## Setup
Make sure you have the following prerequisites installed before running this notebook:
- `ipython-sql` for running SQL in the notebook.
- `psycopg2` for connecting to the PostgreSQL database.

### Steps to Connect
Replace `your_password` and `your_database` in the connection string below with your actual PostgreSQL credentials.

```python
%load_ext sql
%sql postgresql://postgres:your_password@localhost/your_database
```

---

In [4]:
import psycopg2
import pandas as pd

# Database connection
conn = psycopg2.connect(
    dbname="sales_dashboard",
    user="postgres",
    password="olajobi",
    host="localhost",  # Change if needed
    port="5432"        # Default PostgreSQL port
)

# Function to execute query and return as DataFrame
def execute_query(query):
    with conn.cursor() as cur:
        cur.execute(query)
        colnames = [desc[0] for desc in cur.description]
        rows = cur.fetchall()
    return pd.DataFrame(rows, columns=colnames)

### Query 1
```sql
--Rows count--
SELECT COUNT(*) AS total_rows FROM cleaned_sales_data
```

In [5]:
#Total Rows
query = "SELECT COUNT(*) AS total_rows FROM cleaned_sales_data;"
total_rows_df = execute_query(query)
print(total_rows_df)

   total_rows
0      536641

### Query 2
```sql
--Column statistics--
SELECT 
	COUNT(*) AS total_rows, 
	COUNT(DISTINCT InvoiceNo) AS unique_invoice,
	COUNT(DISTINCT CustomerID) AS unique_customers
 FROM cleaned_sales_data
```

In [6]:
#Column statistics
query = """
SELECT 
    COUNT(*) AS total_rows, 
    COUNT(DISTINCT InvoiceNo) AS unique_invoice,
    COUNT(DISTINCT CustomerID) AS unique_customers
FROM cleaned_sales_data;
"""
col_stats_df = execute_query(query)
print(col_stats_df)

   total_rows  unique_invoice  unique_customers
0      536641           25900              8082

### Query 3
```sql
--Preview top rows--
SELECT * FROM cleaned_sales_data LIMIT 10
```

In [7]:
#Preview top rows
query = "SELECT * FROM cleaned_sales_data LIMIT 10;"
top_rows_df = execute_query(query)
print(top_rows_df)

  invoiceno stockcode                          description  quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

          invoicedate unitprice customerid         country
0 2010-12-01 08:26:00      2.55    17850.0  United Kingdom
1 2010-12-01 08:26:00      3.39    17850.0  United Kingdom
2 2010-12-01 08:26:00      2.75    17850.0  United Kingdom
3 2010-12-01 08:26:00      3.39    17850.0  United Kingdom
4 2010-12-01 08:26:00      3.39    17850.0  United Kingdom
5 2010-12-01 08:26:00      7.65    17850.0  United Kingdom
6 2010-12-01 08:26:00      4.25    17850.0  United Kingdom
7 2010-12-01 08:28:00      1.85    17850.0  United Kingdom
8 2010-12-01 08:28:00      1.85    17850.0  United Kingdom
9 2010-12-01 08:34:00      1.69    13047.0  United Kingdom

### Query 4
```sql
--Sales Trend Over Time--
SELECT
	DATE_TRUNC('month', InvoiceDate) AS sales_month,
	SUM(Quantity * UnitPrice) AS total_sales
 FROM cleaned_sales_data
 GROUP BY sales_month
 ORDER BY sales_month
```

In [8]:
#Sales Trend Over Time
query = """
SELECT
    DATE_TRUNC('month', InvoiceDate) AS sales_month,
    SUM(Quantity * UnitPrice) AS total_sales
FROM cleaned_sales_data
GROUP BY sales_month
ORDER BY sales_month;
"""
sales_trend_df = execute_query(query)
print(sales_trend_df)

   sales_month  total_sales
0   2010-12-01    746723.61
1   2011-01-01    558448.56
2   2011-02-01    497026.41
3   2011-03-01    682013.98
4   2011-04-01   492367.841
5   2011-05-01    722094.10
6   2011-06-01    689977.23
7   2011-07-01   680156.991
8   2011-08-01    681386.46
9   2011-09-01  1017596.682
10  2011-10-01   1069368.23
11  2011-11-01   1456145.80
12  2011-12-01    432701.06

### Query 5
```sql
--Peak Sales Hours--
SELECT
	EXTRACT(hour FROM InvoiceDate) AS sales_hour,
	COUNT(*) AS transaction_count
 FROM cleaned_sales_data
 GROUP BY sales_hour
 ORDER BY transaction_count DESC
```

In [9]:
#Peak Sales Hours
query = """
SELECT
    EXTRACT(hour FROM InvoiceDate) AS sales_hour,
    COUNT(*) AS transaction_count
FROM cleaned_sales_data
GROUP BY sales_hour
ORDER BY transaction_count DESC;
"""
peak_hours_df = execute_query(query)
print(peak_hours_df)

   sales_hour  transaction_count
0          12              77573
1          15              76938
2          13              71247
3          14              66572
4          11              56949
5          16              54134
6          10              48808
7           9              34314
8          17              28371
9           8               8906
10         18               7941
11         19               3617
12         20                847
13          7                383
14          6                 41

### Query 6
```sql
--Top Customer by total sales--
SELECT
	CustomerID,
	SUM(Quantity * UnitPrice) AS total_spent
 FROM cleaned_sales_data
 GROUP BY CustomerID
 ORDER BY total_spent DESC
 LIMIT 10
```

In [10]:
#Top Customer by total sales
query = """
SELECT
    CustomerID,
    SUM(Quantity * UnitPrice) AS total_spent
FROM cleaned_sales_data
GROUP BY CustomerID
ORDER BY total_spent DESC
LIMIT 10;
"""
top_customers_df = execute_query(query)
print(top_customers_df)

  customerid total_spent
0    14646.0   279489.02
1    18102.0   256438.49
2    17450.0   187322.17
3    14911.0   132458.73
4    12415.0   123725.45
5    14156.0   113214.59
6    17511.0    88125.38
7    16684.0    65892.08
8    13694.0    62690.54
9    15311.0    59284.19

### Query 7
```sql
--Finding out High value customers--
SELECT
	CustomerID,
	SUM(Quantity * UnitPrice) / COUNT(DISTINCT InvoiceNo) AS avg_order_value
 FROM cleaned_sales_data
 GROUP BY CustomerID
 ORDER BY avg_order_value DESC
```

In [11]:
#Finding out High value customers
query = """
SELECT
    CustomerID,
    SUM(Quantity * UnitPrice) / COUNT(DISTINCT InvoiceNo) AS avg_order_value
FROM cleaned_sales_data
GROUP BY CustomerID
ORDER BY avg_order_value DESC;
"""
high_value_customers_df = execute_query(query)
print(high_value_customers_df)

             customerid          avg_order_value
0     GuestCustomer3313       52940.940000000000
1     GuestCustomer3384       50653.910000000000
2     GuestCustomer1056       21627.720000000000
3      GuestCustomer297   18745.8600000000000000
4     GuestCustomer3222   16874.5800000000000000
...                 ...                      ...
8077   GuestCustomer119  -13541.3300000000000000
8078   GuestCustomer106  -13541.3300000000000000
8079   GuestCustomer335  -16453.7100000000000000
8080   GuestCustomer334  -16888.0200000000000000
8081  GuestCustomer3654  -17836.4600000000000000

[8082 rows x 2 columns]

### Query 8
```sql
--Top Selling Products--
SELECT
	StockCode,
	Description,
	SUM(Quantity) AS total_quantity
 FROM cleaned_sales_data
 GROUP BY StockCode, Description
 ORDER BY total_quantity DESC
 LIMIT 10
```

In [12]:
#Top Selling Products
query = """
SELECT
    StockCode,
    Description,
    SUM(Quantity) AS total_quantity
FROM cleaned_sales_data
GROUP BY StockCode, Description
ORDER BY total_quantity DESC
LIMIT 10;
"""
top_selling_products_df = execute_query(query)
print(top_selling_products_df)

  stockcode                         description  total_quantity
0     84077   WORLD WAR 2 GLIDERS ASSTD DESIGNS           53751
1    85099B             JUMBO BAG RED RETROSPOT           47260
2     22197                      POPCORN HOLDER           36322
3     84879       ASSORTED COLOUR BIRD ORNAMENT           36282
4     21212     PACK OF 72 RETROSPOT CAKE CASES           36016
5    85123A  WHITE HANGING HEART T-LIGHT HOLDER           35006
6     23084                  RABBIT NIGHT LIGHT           30963
7     22492             MINI PAINT SET VINTAGE            26437
8     22616          PACK OF 12 LONDON TISSUES            26299
9     21977  PACK OF 60 PINK PAISLEY CAKE CASES           24719

### Query 9
```sql
--Top products by revenue--
SELECT
	StockCode,
	Description,
	SUM(Quantity * UnitPrice) AS total_revenue
 FROM cleaned_sales_data
 GROUP BY StockCode, Description
 ORDER BY total_revenue DESC
 LIMIT 10
```

In [13]:
#Top products by revenue
query = """
SELECT
    StockCode,
    Description,
    SUM(Quantity * UnitPrice) AS total_revenue
FROM cleaned_sales_data
GROUP BY StockCode, Description
ORDER BY total_revenue DESC
LIMIT 10;
"""
top_products_revenue_df = execute_query(query)
print(top_products_revenue_df)

  stockcode                         description total_revenue
0       DOT                      DOTCOM POSTAGE     206245.48
1     22423            REGENCY CAKESTAND 3 TIER     164459.49
2     47566                       PARTY BUNTING      98243.88
3    85123A  WHITE HANGING HEART T-LIGHT HOLDER      97659.94
4    85099B             JUMBO BAG RED RETROSPOT      92175.79
5     23084                  RABBIT NIGHT LIGHT      66661.63
6      POST                             POSTAGE      66230.64
7     22086     PAPER CHAIN KIT 50'S CHRISTMAS       63715.24
8     84879       ASSORTED COLOUR BIRD ORNAMENT      58792.42
9     79321                       CHILLI LIGHTS      53746.66

### Query 10
```sql
--Top country by revenue--
 SELECT 
    Country,
    SUM(Quantity * UnitPrice) AS total_revenue
FROM cleaned_sales_data
GROUP BY Country
ORDER BY total_revenue DESC
```

In [14]:
#Top country by revenue
query = """
SELECT 
    Country,
    SUM(Quantity * UnitPrice) AS total_revenue
FROM cleaned_sales_data
GROUP BY Country
ORDER BY total_revenue DESC;
"""
top_countries_revenue_df = execute_query(query)
print(top_countries_revenue_df)

                 country total_revenue
0         United Kingdom   8167128.184
1            Netherlands     284661.54
2                   EIRE     262993.38
3                Germany     221509.47
4                 France     197317.11
5              Australia     137009.77
6            Switzerland      56363.05
7                  Spain      54756.03
8                Belgium      40910.96
9                 Sweden      36585.41
10                 Japan      35340.62
11                Norway      35163.46
12              Portugal      29302.97
13               Finland      22326.74
14       Channel Islands      20076.39
15               Denmark      18768.14
16                 Italy      16890.51
17                Cyprus      12858.76
18               Austria      10154.32
19             Hong Kong       9908.24
20             Singapore       9120.39
21                Israel       7901.97
22                Poland       7213.14
23           Unspecified       4740.94
24                Greece       4710.52
25               Iceland       4310.00
26                Canada       3666.38
27                 Malta       2505.47
28  United Arab Emirates       1902.28
29                   USA       1730.92
30               Lebanon       1693.88
31             Lithuania       1661.06
32    European Community       1291.75
33                Brazil       1143.60
34                   RSA       1002.31
35        Czech Republic        707.72
36               Bahrain        548.40
37          Saudi Arabia        131.17

### Query 11
```sql
--Number of transactions per country--
SELECT 
    Country,
    COUNT(DISTINCT InvoiceNo) AS transaction_count
FROM cleaned_sales_data
GROUP BY Country
ORDER BY transaction_count DESC
```

In [15]:
#Number of transactions per country
query = """
SELECT 
    Country,
    COUNT(DISTINCT InvoiceNo) AS transaction_count
FROM cleaned_sales_data
GROUP BY Country
ORDER BY transaction_count DESC;
"""
transactions_per_country_df = execute_query(query)
print(transactions_per_country_df)

                 country  transaction_count
0         United Kingdom              23494
1                Germany                603
2                 France                461
3                   EIRE                360
4                Belgium                119
5                  Spain                105
6            Netherlands                101
7            Switzerland                 74
8               Portugal                 71
9              Australia                 69
10                 Italy                 55
11               Finland                 48
12                Sweden                 46
13                Norway                 40
14       Channel Islands                 33
15                 Japan                 28
16                Poland                 24
17               Denmark                 21
18                Cyprus                 20
19               Austria                 19
20             Hong Kong                 15
21           Unspecified                 13
22             Singapore                 10
23                 Malta                 10
24                Israel                  9
25                   USA                  7
26               Iceland                  7
27                Greece                  6
28                Canada                  6
29    European Community                  5
30        Czech Republic                  5
31               Bahrain                  4
32             Lithuania                  4
33  United Arab Emirates                  3
34          Saudi Arabia                  2
35                Brazil                  1
36                   RSA                  1
37               Lebanon                  1

### Query 12
```sql
--Identifying records with Incorrect UnitPrice--
SELECT * FROM cleaned_sales_data 
WHERE UnitPrice <= 0
```

In [16]:
#Identifying records with Incorrect UnitPrice
query = "SELECT * FROM cleaned_sales_data WHERE UnitPrice <= 0;"
incorrect_prices_df = execute_query(query)
print(incorrect_prices_df)

     invoiceno stockcode                          description  quantity  \
0       536414     22139     RETROSPOT TEA SET CERAMIC 11 PC         56
1       536545     21134                       No description         1
2       536546     22145      CHRISTMAS CRAFT HEART STOCKING          1
3       536547     37509           NEW ENGLAND MUG W GIFT BOX         1
4       536549    85226A                       No description         1
...        ...       ...                                  ...       ...
2507    580991     22481           Invalid Description Naming      -288
2508    581190    84801A           Invalid Description Naming      -102
2509    581234     72817  SET OF 2 CHRISTMAS DECOUPAGE CANDLE        27
2510    581408     85175                CACTI T-LIGHT CANDLES        20
2511    581422     23169           Invalid Description Naming      -235

             invoicedate unitprice         customerid         country
0    2010-12-01 11:52:00       0.0     GuestCustomer1  United Kingdom
1    2010-12-01 14:32:00       0.0     GuestCustomer3  United Kingdom
2    2010-12-01 14:33:00       0.0     GuestCustomer4  United Kingdom
3    2010-12-01 14:33:00       0.0     GuestCustomer5  United Kingdom
4    2010-12-01 14:34:00       0.0     GuestCustomer6  United Kingdom
...                  ...       ...                ...             ...
2507 2011-12-06 16:55:00       0.0  GuestCustomer3674  United Kingdom
2508 2011-12-07 16:55:00       0.0  GuestCustomer3678  United Kingdom
2509 2011-12-08 10:33:00       0.0  GuestCustomer3699  United Kingdom
2510 2011-12-08 14:06:00       0.0  GuestCustomer3703  United Kingdom
2511 2011-12-08 15:24:00       0.0  GuestCustomer3704  United Kingdom

[2512 rows x 8 columns]

### Query 13
```sql
--Identifying invalid records
SELECT * FROM cleaned_sales_data WHERE quantity <= 0
```

In [17]:
#Identifying invalid records
query = """SELECT * FROM cleaned_sales_data WHERE quantity <= 0"""
invalid_records_df = execute_query(query)
print(invalid_records_df)

      invoiceno stockcode                        description  quantity  \
0       C536379         D         Invalid Description Naming        -1
1       C536383    35004C    SET OF 3 COLOURED  FLYING DUCKS        -1
2       C536391     22556     PLASTERS IN TIN CIRCUS PARADE        -12
3       C536391     21984   PACK OF 12 PINK PAISLEY TISSUES        -24
4       C536391     21983   PACK OF 12 BLUE PAISLEY TISSUES        -24
...         ...       ...                                ...       ...
10582   C581466     22838      3 TIER CAKE TIN RED AND CREAM        -1
10583   C581466     22720  SET OF 3 CAKE TINS PANTRY DESIGN         -2
10584   C581466     21216   SET 3 RETROSPOT TEA,COFFEE,SUGAR        -1
10585   C581466     21535       RED RETROSPOT SMALL MILK JUG        -2
10586   C581466     21232     STRAWBERRY CERAMIC TRINKET POT        -1

              invoicedate unitprice customerid         country
0     2010-12-01 09:41:00      27.5    14527.0  United Kingdom
1     2010-12-01 09:49:00      4.65    15311.0  United Kingdom
2     2010-12-01 10:24:00      1.65    17548.0  United Kingdom
3     2010-12-01 10:24:00      0.29    17548.0  United Kingdom
4     2010-12-01 10:24:00      0.29    17548.0  United Kingdom
...                   ...       ...        ...             ...
10582 2011-12-08 19:20:00     14.95    13883.0  United Kingdom
10583 2011-12-08 19:20:00      4.95    13883.0  United Kingdom
10584 2011-12-08 19:20:00      4.95    13883.0  United Kingdom
10585 2011-12-08 19:20:00      2.55    13883.0  United Kingdom
10586 2011-12-08 19:20:00      1.25    13883.0  United Kingdom

[10587 rows x 8 columns]

### Query 14
```sql
--Identifying repeated customers--
SELECT
    CustomerID,
    COUNT(DISTINCT InvoiceDate) AS num_purchases
FROM cleaned_sales_data
GROUP BY CustomerID
HAVING COUNT(DISTINCT InvoiceDate) > 1
ORDER BY num_purchases DESC
LIMIT 10
```

In [18]:
#Identifying repeated customers
query = """
SELECT
    CustomerID,
    COUNT(DISTINCT InvoiceDate) AS num_purchases
FROM cleaned_sales_data
GROUP BY CustomerID
HAVING COUNT(DISTINCT InvoiceDate) > 1
ORDER BY num_purchases DESC
LIMIT 10;
"""
repeated_customers_df = execute_query(query)
print(repeated_customers_df)

  customerid  num_purchases
0    14911.0            248
1    12748.0            225
2    17841.0            168
3    14606.0            129
4    15311.0            118
5    13089.0            114
6    12971.0             86
7    14527.0             85
8    14646.0             77
9    13408.0             77

### Query 15
```sql
--Total number of cancellations vs Total number of transactions
SELECT
    COUNT(*) FILTER (WHERE InvoiceNo LIKE 'C%') AS cancellations,
    COUNT(*) AS total_transactions
FROM cleaned_sales_data
```

In [19]:
#Total number of cancellations vs Total number of transactions
query = """
SELECT
    COUNT(*) FILTER (WHERE InvoiceNo LIKE 'C%') AS cancellations,
    COUNT(*) AS total_transactions
FROM cleaned_sales_data;
"""
cancellations_vs_transactions_df = execute_query(query)
print(cancellations_vs_transactions_df)

   cancellations  total_transactions
0           9251              536641

### Query 16
```sql
--Total number of unique original invoices vs unique cancelled invoice--
SELECT
    COUNT(DISTINCT InvoiceNo) AS original_invoices,
    COUNT(DISTINCT InvoiceNo) FILTER (WHERE InvoiceNo LIKE 'C%') AS cancelled_invoices 
FROM cleaned_sales_data
```

In [20]:
#Total number of unique original invoices vs unique cancelled invoice
query = """
SELECT
    COUNT(DISTINCT InvoiceNo) AS original_invoices,
    COUNT(DISTINCT InvoiceNo) FILTER (WHERE InvoiceNo LIKE 'C%') AS cancelled_invoices 
FROM cleaned_sales_data;
"""
original_vs_cancelled_df = execute_query(query)
print(original_vs_cancelled_df)

   original_invoices  cancelled_invoices
0              25900                3836

### Query 17
```sql
--Number of cancellation each customer has made--
SELECT
    CustomerID,
    COUNT(InvoiceNo) AS num_cancellations
FROM cleaned_sales_data
WHERE InvoiceNo LIKE 'C%'
GROUP BY CustomerID
ORDER BY num_cancellations DESC
```

In [21]:
#Number of cancellation each customer has made
query = """
SELECT
    CustomerID,
    COUNT(InvoiceNo) AS num_cancellations
FROM cleaned_sales_data
WHERE InvoiceNo LIKE 'C%'
GROUP BY CustomerID
ORDER BY num_cancellations DESC;
"""
cancellations_by_customer_df = execute_query(query)
print(cancellations_by_customer_df)

            customerid  num_cancellations
0              14911.0                226
1              17841.0                136
2              17511.0                113
3              15311.0                112
4              12607.0                101
...                ...                ...
1766  GuestCustomer664                  1
1767           14000.0                  1
1768  GuestCustomer103                  1
1769           12778.0                  1
1770  GuestCustomer437                  1

[1771 rows x 2 columns]

### Query 18
```sql
--Products that are most frequently cancelled--
SELECT
    StockCode,
    Description,
    COUNT(InvoiceNo) AS cancellations_count
FROM cleaned_sales_data
WHERE InvoiceNo LIKE 'C%'
GROUP BY StockCode, Description
ORDER BY cancellations_count DESC
```

In [22]:
#Products that are most frequently cancelled
query = """
SELECT
    StockCode,
    Description,
    COUNT(InvoiceNo) AS cancellations_count
FROM cleaned_sales_data
WHERE InvoiceNo LIKE 'C%'
GROUP BY StockCode, Description
ORDER BY cancellations_count DESC;
"""
cancellations_by_product_df = execute_query(query)
print(cancellations_by_product_df)

     stockcode                   description  cancellations_count
0            M    Invalid Description Naming                  244
1        22423      REGENCY CAKESTAND 3 TIER                  180
2         POST                       POSTAGE                  126
3        22960      JAM MAKING SET WITH JARS                   87
4            D    Invalid Description Naming                   77
...        ...                           ...                  ...
1970     21770        OPEN CLOSED METAL SIGN                    1
1971     22917          HERB MARKER ROSEMARY                    1
1972     20707  CRAZY DAISY HEART DECORATION                    1
1973     23342         MINT DINER WALL CLOCK                    1
1974     90101     WHITE FRANGIPANI NECKLACE                    1

[1975 rows x 3 columns]

### Query 19
```sql
--Analyzing cancellations with respect to time--
SELECT
    EXTRACT(month FROM InvoiceDate) AS month,
    COUNT(InvoiceNo) AS cancellations_count
FROM cleaned_sales_data
WHERE InvoiceNo LIKE 'C%'
GROUP BY month
ORDER BY cancellations_count DESC
```

In [23]:
#Analyzing cancellations with respect to time
query = """
SELECT
    EXTRACT(month FROM InvoiceDate) AS month,
    COUNT(InvoiceNo) AS cancellations_count
FROM cleaned_sales_data
WHERE InvoiceNo LIKE 'C%'
GROUP BY month
ORDER BY cancellations_count DESC;
"""
cancellations_by_time_df = execute_query(query)
print(cancellations_by_time_df)

   month  cancellations_count
0     10                 1194
1     12                 1078
2     11                 1073
3      9                  801
4      6                  709
5      1                  700
6      3                  696
7      7                  684
8      8                  667
9      5                  621
10     4                  558
11     2                  470